body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 16px;
  user-select: none;
}

button {
  background-color: black;
  border: 1px solid lightgreen;
}

select {
  background-color: black;
}

input {
  width: 50%;
  background-color: black;
  pointer-events: none;
}

input[name="submitAlgorithm"] {
  user-select: all;
  pointer-events: all;
}

.not-learned {
  background-color: red;
}

.learning {
  background-color: yellow;
  color: black;
}

.learned {
  background-color: green;
}

.delete-btn {
  border: 1px solid red;
  padding: 3px;
  color: white;
}

@media screen and (max-width: 740px) {
  /* body {
    background-color: green
  }; */
}